.container {
  display: flex;
  flex-direction: column;
  background: black;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  padding: 1.3rem;
}
.box {
  padding: 5px;
}
.box:hover {
  color: aquamarine;
}
.photogal {
  margin: 8px;
  gap: 8px;
  display: grid;
  align-items: center;
}
.images {
  width: 100%;
  border-radius: 2%;
}
@media screen and (min-width: 768px) {
  .container {
    flex-direction: row;
    justify-content: flex-end;
  }
  .photogal {
    grid-template: repeat(5, 50fr) / repeat(2, 50fr);
  }
}
@media screen and (min-width: 1024px) {
  .photogal {
    grid-template-columns:repeat(5, 50fr) / repeat(3, 50fr);
  }
  .img-two {
    grid-column: 2 / 4;
    grid-row: 1 / 3;
  }
}
